
@{
    ViewData["Title"] = "CreatedSuccessfully";
}

    <div class="container-fluid justify-content-center">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>Ship created successfully!</p>
    </div>
