@model DanubeJourney.Web.InputModels.Ships.ShipInputModel

@{
    this.ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShipInputModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Launched" class="control-label"></label>
                <input asp-for="Launched" class="form-control" />
                <span asp-validation-for="Launched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crew" class="control-label"></label>
                <input asp-for="Crew" class="form-control" />
                <span asp-validation-for="Crew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staterooms" class="control-label"></label>
                <input asp-for="Staterooms" class="form-control" />
                <span asp-validation-for="Staterooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suites" class="control-label"></label>
                <input asp-for="Suites" class="form-control" />
                <span asp-validation-for="Suites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaptainId" class="control-label"></label>
                <input asp-for="CaptainId" class="form-control" />
                <span asp-validation-for="CaptainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

