@using DanubeJourney.Web.Controllers
@model DanubeJourney.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}
    <div class="col-md 4">

        <h1>@this.ViewData["Title"]</h1>
        Settings: @this.Model.SettingsCount
        <hr/>
        <div class="button-wrapper">

        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-area="" asp-controller="Trips" asp-action="Create">Trip</a>
                <a class="dropdown-item" asp-area="" asp-controller="Ships" asp-action="Create">Ship</a>
                <a class="dropdown-item" asp-area="" asp-controller="Rooms" asp-action="Create">Room</a>
                <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Create">Employee</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Read
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Trips" asp-action="Details">Trip</a>
                <a class="dropdown-item" asp-controller="Ships" asp-action="Details">Ship</a>
                <a class="dropdown-item" asp-controller="Rooms" asp-action="Details">Room</a>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Details">Employee</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Update
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Trips" asp-action="Edit">Trip</a>
                <a class="dropdown-item" asp-controller="Ships" asp-action="Edit">Ship</a>
                <a class="dropdown-item" asp-controller="Rooms" asp-action="Edit">Room</a>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Edit">Employee</a>
            </div>
        </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Delete
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Trips" asp-action="Delete">Trip</a>
                    <a class="dropdown-item" asp-controller="Ships" asp-action="Delete">Ship</a>
                    <a class="dropdown-item" asp-controller="Rooms" asp-action="Delete">Room</a>
                    <a class="dropdown-item" asp-controller="Employees" asp-action="Delete">Employee</a>
                </div>
            </div>
        </div>
    </div>
