@import url("https://use.typekit.net/qhq2hkv.css");
:root {
    --sizing-ws-base: 1.5em;
    --sizing-fs-base: 12px;
    --sizing-lt-base: 2rem;
    --sizing-fs-tablet: 14px;
    --sizing-fs-laptop: 16px;
    --sizing-fs-desktop: 18px;
    --sizing-fs-huge: 20px;
    --color-main-bgrd: #9B9BFF;
    --color-main-text: #333;
    --color-main-link: orange;
    --color-basic-border: #CC0;
    --sizing-basic-border: 2px;
}

body {
  background: var(--color-main-bgrd, #000);
  color: var(--color-main-text, #333); }

.site-content iframe {
  width: 100%;
  padding-bottom: var(--sizing-lt-base); }

.site-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--sizing-lt-base); }

body.gallery .site-header .main-nav a {
  font-style: italic; }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Typography*/
body {
    font: 14px "Calibri Light", sans-serif !important
       
}
h1 {
    font-size: 2.5em;}

h2 {
    font-size: 2.2em;}

h3 {
    font-size: 1.9em;}

h4 {
    font-size: 1.6em;}

h5 {
    font-size: 1.4em;}

h6 {
    font-size: 1.2em;}

@media (min-width: 600px) {
  html {
    font-size: var(--sizing-fs-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--sizing-fs-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--sizing-fs-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--sizing-fs-huge); } }

p, ul, ol, dl, table {
  margin-bottom: var(--sizing-ws-base); }

ul, ol {
  padding-left: var(--sizing-ws-base); }

h1, h2, h3 {
  margin: 0 0 calc(var(--sizing-ws-base) / 3) 0;
  font-style: inherit;}

.testimonials {
  padding: 0 !important;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .testimonials li {
    display: block;
    list-style: none outside;
    text-align: center; }
  .testimonials a {
    display: block;
    text-decoration: none;
    color: #444; }
  .testimonials span {
    display: block; }
    .testimonials span.avatar {
      position: relative;
      width: 9rem;
      height: 9rem;
      background-color: #FFF;
      overflow: hidden;
      border-radius: 50%;
      z-index: -1;
        box-shadow: 0.5rem 0.6rem 0.5rem 0 rgba(0, 0, 0, 0.5);
    }
      .testimonials span.avatar img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .testimonials span.avatar:before {
        display: block;
        content: '';
        padding-top: 100%; }
    .testimonials span.name {
      padding: 0.5rem 0;
      margin-top: 0.5rem;
      font-weight: bold; }
    .testimonials span.jobtitle {
      padding-bottom: 0.5rem;
      font-style: italic; }

/*
* Main Navigation Style
*/
.inner a:hover,
.inner a:focus {
    text-decoration: none !important;
}

nav {
  font-family: "Calibri Light", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}
  nav ul {
    padding: 0;
    margin: 0; }
  nav > ul {
    display: flex; }
  nav li {
    display: block;
    list-style: none outside; }
  nav li.active-page > a {
    background: #900; }
  nav.header-nav a {
    display: block;
    padding: 0.3em 1em;
    background: rgba(0, 0, 200, 0.6);
    text-decoration: none;
    outline: none;
    margin-right: 0.2rem;
    color: #BB0;
    transition: background 1s ease; }
  nav.header-nav a:focus,
  nav.header-nav a:hover {
    background: #900;
    text-decoration: none;
    color: #BBB;}

/*
* Header Navigation Style
*/
.header-nav {
    margin-right: auto;
    z-index: 1000;
    /* Level 2 - only for larger devices */
    /* Hide-Show entire Nav element for different devices */
}
.brand img {
    width: 1.5rem;
    height: auto;
}
  @media (max-width: 990px) {
    .header-nav ul {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 9000;
    } }
  .header-nav li {
    position: relative; }
  @media (min-width: 991px) {
    .header-nav a {
      border-radius: 0.3rem; }
    .header-nav > ul ul {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      pointer-events: none;
      overflow: hidden;
      z-index: 100; }
      .header-nav > ul ul li {
        opacity: 0;
        -webkit-transform: translateY(-15rem);
                transform: translateY(-15rem);
        transition: opacity 0.8s ease-in, -webkit-transform 0.3s ease-out;
        transition: opacity 0.8s ease-in, transform 0.3s ease-out;
        transition: opacity 0.8s ease-in, transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
      .header-nav > ul ul a {
        margin-top: 0.2rem;
        padding: 0.7em 2em 0.7em 1em;
        width: 100%; }
    .header-nav li:hover > ul {
      pointer-events: all; }
      .header-nav li:hover > ul > li {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; }
      .header-nav li:hover > ul > li:nth-child(2) {
        transition-delay: 0.08s; }
      .header-nav li:hover > ul > li:nth-child(3) {
        transition-delay: 0.16s; }
      .header-nav li:hover > ul > li:nth-child(4) {
        transition-delay: 0.24s; }
      .header-nav li:hover > ul > li:nth-child(5) {
        transition-delay: 0.32s; }
}
  @media (max-width: 990px) {
    .header-nav {
      width: 100%;
      height: 100vh;
      padding: 2rem 8rem;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 255, 0.1); }
        /*.footer-nav {
        width: 100%;
        height: 10vh;
        padding: 2rem 8rem;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }*/
      .header-nav ul ul li a {
        padding-left: 2rem; }
      #toggle-main-nav + .site-header .brand {
        position: relative;
      }
      #toggle-main-nav + .site-header .header-nav {
        display: none; }
      #toggle-main-nav:checked + .site-header .header-nav {
        display: block;
      }
  }

.site-header .toggle-main-nav-button span {
  display: none; }

.site-header .toggle-main-nav-button {
  border: 1px solid rgba(0, 0, 255, 0.5);
  border-radius: 0.3em;
  color: rgba(0,0, 255, 0.8);
  background-color: rgba(0, 0, 255, 0.2); }

.site-header .toggle-main-nav-button:before {
  display: block;
  content: '\f0c9';
  padding: 0.5em; }

@media (min-width: 991px) {
  .site-header .toggle-main-nav-button {
    display: none; } }

@media (max-width: 990px) {
  .site-header .toggle-main-nav-button {
    position: relative;
    z-index: 9000; }
  #toggle-main-nav:checked + .site-header .toggle-main-nav-button {
    position: fixed;
    top: 1.5rem;
    right: 2.2rem; }
  #toggle-main-nav:checked + .site-header .toggle-main-nav-button:before {
    content: '\f00d'; }
  #toggle-main-nav + .site-header .toggle-main-nav-button {
    display: block; }
  #toggle-main-nav + .site-header .toggle-main-nav-button:hover {
    background-color: rgba(0, 0, 255, 0.5);
    cursor: pointer; } }

#toggle-main-nav {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

div.container {
    position: relative;
}

/*
* Footer Navigation Style

.site-footer .toggle-main-nav-button {
  display: none; }

.footer-nav li ul {
  display: none; }

.footer-nav a {
  border-radius: 0.3rem; }
*/
form {
    max-width: 40rem;
    margin-bottom: 0.8em;
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
    padding: 2rem;
    border: 1px solid #0010AA;
    border-radius: 0.3rem;
}

label {
  display: block;
  font-weight: bold;
  cursor: pointer; }

input,
textarea {
    display: block;
    border: 2px solid #0010AA;
    border-radius: 0.3em;
    padding: 0.5rem 0.8rem;
    outline: none;
    width: 100%;
}
  input:focus,
  textarea:focus {
    border-color: #006; }

input[type='submit'] {
    width: auto;
    background-color: #008;
    color: #CC0;
    padding: 1rem 1.5rem;
    cursor: pointer; 
}

label.remember {
    display: inline-block;
}

.button {
    display: inline-block;
    font-size: 1.2em;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    background-color: #00C;
    color: #CC0;
}

.button:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #C00; 
}

.button-primary {
    font-weight: bold;
    display: inline-block;
    font-size: 1.2em;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    background-color: #69F;
    color: #CC0;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

ul.gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  ul.gallery li {
    flex: 0 1 32%;
    display: block;
    list-style: none outside;
    background: #FFF;
    border: 4px solid #000;
    margin-bottom: 2%;
    padding: 1rem;
    box-shadow: 1em 1em 0.8em rgba(0, 0, 0, 0.6);
    transition: -webkit-transform 1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in, -webkit-transform 1s ease-in;
    /*@include bp('tablet') {
            @at-root #toggle-main-nav:checked + & img {
                pointer-events: none;
                position: relative;
                z-index: -1;
            }
        }*/ }
    ul.gallery li:hover {
      -webkit-transform: scale(1.5) rotate(360deg);
              transform: scale(1.5) rotate(360deg); }
    ul.gallery li a {
      display: block;
      position: relative;
      overflow: hidden; }
      ul.gallery li a:before {
        display: block;
        content: '';
        padding-top: 100%; }
  ul.gallery img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.site-header {
  /*
    * Homepage Header Banner
    * Aspect Ratio Boxes with CSS
    * https://css-tricks.com/aspect-ratio-boxes/
    */ }
.site-header .inner {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem var(--sizing-lt-base) 0.5rem var(--sizing-lt-base);
    justify-content: space-between;
    align-items: center;
}

.site-header .inner .brand {
    margin-right: var(--sizing-lt-base);
    margin-bottom: 0; 
}

.site-header .inner .brand img {
     vertical-align: unset; 
}

@media (min-width: 991px) {
    .site-header .inner {
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        width: 100%;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
        z-index: 9000;
    }
}
@media (max-width: 990px) {
    .site-header .inner {
         flex-direction: column;
    }

    .site-header .inner .cta {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }

    .site-header .inner .cta .button {
        padding: 0.3rem 1rem;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .site-header .inner .brand {
        margin-right: 0;
        pointer-events: none;
    }
}

.site-header.banner {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header.banner .brand a {
    color: #0825f1;
    text-decoration: none;
}

.site-header.banner:after {
    display: block;
    content: '';
}

.site-header.banner.size-large:after {
    padding-top: calc((9 / 16) * 100%);
    /* Aspect Ratio 16/9 */
}

.site-header.banner.size-small:after {
    padding-top: calc((9 / 32) * 100%);
    /* Aspect Ratio 32/9 */
}

.site-content {
    justify-content: center;
}

.site-footer {
    border-top: var(--sizing-basic-border) solid var(--color-basic-border);
    padding: var(--sizing-lt-base);
    font-size: 1.2em;
}

.site-footer p {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}

.site-footer .button {
    display: none;
}

.data-container {
    display: flex;
    justify-content: space-between;
}

form#account a{
    color: #000;
}


div.media {
    display: flex;
    flex-direction:column;
    margin-bottom: 2rem;
    flex: 1 1 0;
    flex-wrap: wrap;
    position: relative;
}

#ship.container {
    position: relative;
}

#ship {
    padding-left: 151px;
    overflow: hidden;
}

#ship:before {
    display: table;
    content: "";
}

#ship {
    clear: both;
}

.ship-details-container section.image:before,
.media section.media-image:before {
    display: block;
    content: '';
    padding-top: 56.25%;
    background-color: rgba(255, 255, 255, 0);
}

.ship-details-container section.image,
.media section.media-image {
    display: block;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0.5rem 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
}

.media section.media-image:after {
    display: block;
    content: "";
    clear: both;
}

.ship-details-container section.image {
    min-width: 200px;
}

.media section.media-image {
    float: left;
    min-width: 300px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.ship-details-container section.image img,
.media section.media-image img {
    display: block;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.inline {
    display: inline;
}

.media-header {
    display: flex;
    flex-direction: row;
}

.media-header > form.button-primary {
    position: absolute;
    top: 0;
    right: 0;
}

.media-header .link-button {
    background: none;
    border: none;
    color: var(--color-basic-border);
    text-decoration: none;
    cursor: pointer;
}

.media-header .link-button:hover {
    outline: none;
    color: #FFF;
}

.media-body {
    display: block;
    float: left;
}

.alert-dismissible .close {
    padding: 0.2em 1rem !important;
}

.border-top {
    border-top: 1px solid #A5A5A5;
}

.border-bottom {
    border-bottom: 1px solid #A5A5A5;
}

.box-shadow {
    box-shadow: 0 .5rem .4rem rgba(0, 0, 0, .2);
}

.navbar-toggler-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

        /*
    * Ship details
*/
@media (max-width: 1460px) {
    #av-sidebar {
        height: 280px;
    }
}

#av-sidebar {
    width: 150px;
    position: absolute;
    background: #f4f4f4;
    left: 0;
}

#av-sidebar-top {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-top: 15px;
    margin: 0 15px 10px;
}

.sidebar-a img {
    margin: 0 auto;
    display: block;
    float: none;
}

.sidebar-a p {
    font-size: 11px;
    color: #004982;
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

#ship #shipname {
    margin: 0 15px;
    border-bottom: 1px solid #cccccc;
}

#shipname p {
    text-align: center;
    font-size: 13px;
    padding: 2px 0 8px;
    margin-bottom: 0;
    color: #002E5E;
    font-weight: bold;
    margin-left: -10px;
    margin-right: -10px;
    text-transform: uppercase;
}

#av-sidebar-nav #sidebar-list {
    margin-left: 0;
    list-style: none;
}

#av-sidebar-nav #sidebar-list a {
    text-transform: uppercase;
    color: #595959;
    text-decoration: none;
}

#av-sidebar .sidebar-misc {
    padding: 10px 0 10px;
    border-top: 1px solid #c8c8c8;
    margin: 0 15px 0;
    border-bottom: 1px solid #c8c8c8;
}

.sidebar-misc a {
    display: block;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
}