@using DanubeJourney.Common
@using DanubeJourney.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DanubeJourneyUser> SignInManager
@inject UserManager<DanubeJourneyUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <li>
        <span class="title"><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="far fa-hand-paper"></i> Hello @(this.User.Identity.Name)!</a></span>
    </li>
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li>
            <span class="title"><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-user-cog"></i> Admin</a></span>
        </li>
    }
    <li>
        <span class="title">
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </span>
</li>
}
else
{
    <li>
        <span class="title"><a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a></span>
    </li>
    <li>
        <span class="title"><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a></span>
    </li>
}
