@using DanubeJourney.Common
@using DanubeJourney.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<DanubeJourneyUser> SignInManager
@inject UserManager<DanubeJourneyUser> UserManager
@if (this.SignInManager.IsSignedIn(this.User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="title"><i class="far fa-hand-paper"></i> Hello @(this.User.Identity.Name)!</span></a>
    </li>
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li>
            <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><span class="title"><i class="fas fa-user-cog"></i> Admin</span></a>
        </li>
    }
    <li>
        
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))"><span class="title"><i class="fas fa-sign-out-alt"></i> Logout</span></a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register"> <span class="title"><i class="fas fa-user-plus"></i> Register</span></a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login"><span class="title"><i class="fas fa-sign-in-alt"></i> Login</span></a>
    </li>
}
