@inject ITripsService Service
@using DanubeJourney.Services.Data.Contracts
@using DanubeJourney.Web.Views.Shared
@{
    ViewData["Title"] = "_TripsPartial";
    var model = new TripsPartialModel(Service);
}

@foreach (var trip in model.Trips.Collection)
{
    <li>
        <a asp-area="" asp-controller="Trips" asp-action="Details" asp-route-id="@trip.Id">@trip.Name</a>
    </li>
}
